.root {
  position: fixed;
  width: 1920px;
  height: 1080px;
  align-items: flex-start;
  overflow: hidden;
}
.frame1 {
  position: absolute;
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.background {
  width: 1920px;
  height: 1220px;
  background-image:/* webpackIgnore: true */ url('assets/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
