.root {
  position: fixed;
  left: 760px;
  top: 275px;
  width: 400px;
  height: 530.6667px;
  align-items: flex-start;
}
.rectangle {
  position: absolute;
  left: 0;
  right: 0;
  top: 42.4623%;
  bottom: 46.2312%;
  outline: solid 1px #fff;
  outline-offset: -1px;
  border-radius: 4px;
  background-color: #1c8f1880;
  backdrop-filter: blur(2px);
}
.nazwaUzytkownika {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 17%;
  right: 34%;
  top: 45.7915%;
  bottom: 49.309%;
  flex-direction: column;
}
.user {
  position: absolute;
  left: 4%;
  right: 89.3333%;
  top: 45.7286%;
  bottom: 49.2462%;
}
.icon {
  width: 100%;
  height: 100%;
}
.rectangle2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 58.794%;
  bottom: 29.8995%;
  outline: solid 1px #fff;
  outline-offset: -1px;
  border-radius: 4px;
  background-color: #1c8f1880;
  backdrop-filter: blur(2px);
}
.hasO {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 17%;
  right: 33%;
  top: 62.0603%;
  bottom: 32.9146%;
  flex-direction: column;
}
.lock {
  position: absolute;
  left: 4%;
  right: 89.3333%;
  top: 62.0603%;
  bottom: 32.9146%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.rectangleButton {
  position: absolute;
  left: 0;
  right: 0;
  top: 80.9045%;
  bottom: 7.7889%;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px #0000004d;
}
.zalogujSie {
  color: #1c8f18;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 35.5%;
  right: 35.75%;
  top: 30%;
  bottom: 30%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.dogecoinLogo1 {
  position: absolute;
  left: 25%;
  right: 25%;
  top: -9.0452%;
  bottom: 71.3568%;
  background-image:/* webpackIgnore: true */ url('assets/dogecoinLogo1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cynoDesu {
  color: #fff;
  font-size: 40px;
  line-height: 20px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 60px;
  top: 174px;
  width: 279px;
  height: 26px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
