.root {
  position: relative;
  width: 1920px;
  height: 1080px;
  align-items: flex-start;
  overflow: hidden;
}
._6a6edb5a4f9ae95e5304c1006696dd {
  position: absolute;
  left: -3px;
  top: -48px;
  width: 1920px;
  height: 1277px;
  background-image:/* webpackIgnore: true */ url('assets/_6a6edb5a4f9ae95e5304c1006696dd.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangleButton {
  position: absolute;
  left: 39.5833%;
  right: 39.5833%;
  top: 68.7963%;
  bottom: 25.6481%;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px #0000004d;
}
.dodajHodowle {
  color: #1c8f18;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 46.9792%;
  right: 47.0313%;
  top: 70.3704%;
  bottom: 27.2222%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.lubDodajNowaHodowle {
  color: #fff;
  font-size: 32px;
  line-height: 20px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 454px;
  top: 682px;
  width: 1011px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangleButton2 {
  position: absolute;
  left: 39.5833%;
  right: 39.5833%;
  top: 53.7963%;
  bottom: 40.6481%;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px #0000004d;
}
.szukaj {
  color: #1c8f18;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 46.9792%;
  right: 47.0313%;
  top: 55.3395%;
  bottom: 42.2531%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.podajPrzydomekHodowlanyHodowli {
  color: #fff;
  font-size: 32px;
  line-height: 20px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 454px;
  top: 419px;
  width: 1011px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle {
  position: absolute;
  left: 39.5833%;
  right: 39.5833%;
  top: 44.4444%;
  bottom: 50%;
  outline: solid 1px #fff;
  outline-offset: -1px;
  border-radius: 4px;
  background-color: #1c8f1880;
  backdrop-filter: blur(2px);
}
.przydomekHodowlany {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 43.125%;
  right: 45.4167%;
  top: 46.0494%;
  bottom: 51.4815%;
  flex-direction: column;
}
.lock {
  position: absolute;
  left: 40.4167%;
  right: 58.1944%;
  top: 46.0494%;
  bottom: 51.4815%;
  align-items: flex-start;
  overflow: hidden;
}
.icons8Search5001 {
  position: absolute;
  left: 0;
  right: 2.5%;
  top: -1.25%;
  bottom: 3.75%;
  background-image:/* webpackIgnore: true */ url('assets/icons8Search5001.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.dogecoinLogo2 {
  position: absolute;
  left: 860px;
  top: 40px;
  width: 200px;
  height: 200px;
  background-image:/* webpackIgnore: true */ url('assets/dogecoinLogo2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cynoDesu {
  color: #fff;
  font-size: 40px;
  line-height: 20px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 820px;
  top: 270px;
  width: 279px;
  height: 26px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle2 {
  position: absolute;
  left: 87.5%;
  right: 2.0833%;
  top: 3.7037%;
  bottom: 91.6667%;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px #0000004d;
}
.wyloguj {
  color: #1c8f18;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 88.2813%;
  right: 2.8646%;
  top: 5.1852%;
  bottom: 93.1481%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
